<%= link_to 'Add a Suggestion', new_suggestion_path %>

<div id="suggestions">
  <span class="small"> Sort By: <%= sortable "updated_at", "Last Endorsed" %> | <%= sortable "created_at", "First Endorsed" %> | <%= sortable "score", "Endorsements" %> </span>
  <% if params[:tag] %>
    <span class="pull-right small"><%= link_to "Click to remove tag filter", {:sort => params[:sort]} %></span>
  <% end %>
  <% @suggestions.each do |suggestion| %>
    <div class="row suggestion">
      <div class="col-md-1">
        <span class="score">
          <%= suggestion.score %>
        </span>
        <p class="x-small">
          Endorsements
        </p>
      </div>
      <div class="col-md-11">
        <h4>
          <%= suggestion.name %>
          <button type="button" class="btn btn-default btn-xs endorse" data-id=<%= suggestion.id %>>
            <span class="glyphicon glyphicon-star"></span> Endorse
          </button>
        </h4>
        <p><%= suggestion.description %></p>
        <% suggestion.tags.each do |tag| %>
          <span class="tag label pull-right"> <%= link_to tag, {:sort => params[:sort], :tag => tag.to_s} %></span>
        <% end %>
        <span class="x-small"><i>Last endorsed on <%= suggestion.updated_at.to_formatted_s(:long) %></i></p>
      </div>
    </div>
  <% end %>
</div>
<%= javascript_tag do %>
  $(document).ready(function() {
    $("button.endorse").each(function(idx, el) {
      if ($.cookie(String($(el).data('id'))) === "true") {
        $(el).addClass('disabled');
        $(el).html($(el).html().replace("Endorse", "Endorsed!"));
      }
    });

    $("button.endorse").click(function(evt) {
      $.ajax({
        url: "suggestions/" + $(evt.currentTarget).data('id') + "/endorse",
        type: "POST",
        dataType: "json",
        success: function(data) {
          var $endorseBtn = $(evt.currentTarget);

          $endorseBtn.closest('.suggestion').find('.score').html(data.score);

          $.cookie($(evt.currentTarget).data('id'), true);

          $endorseBtn.html($endorseBtn.html().replace("Endorse", "Endorsed!"));
          $endorseBtn.addClass('disabled');

        }
      });
    });
  });
<% end %>

